<div style="width: 85%; margin: 30px auto; display: block">
    <app-toolbar></app-toolbar>
    <div style="width: 80%; margin: 0 auto; display: block">
        <app-body></app-body>
    </div>
</div>

<!-- <pdf-viewer [src]="'../assets/TAPO.pdf'" [render-text]="true" [show-borders]="true" [show-all]="true" [zoom]="1" style="display: block;"></pdf-viewer> -->
<!-- <ngx-extended-pdf-viewer [src]="'../assets/TAPO.pdf'" backgroundColor="#ffffff" [height]="'90vh'" [useBrowserLocale]="true"> </ngx-extended-pdf-viewer> -->