<div>
    <br>
    <label class="block tracking-wide text-grey-darker text sm font-bold mb-2"> Input a FILE </label>

    <div appNgDropFiles class="flex-1 upload-btn-wrapper" [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{'file-over': estaSobreElemento}">
        <button class="bton">
      <input #file type="file" ng-Model="files" accept='image/jpeg,image/png,application/pdf'
        (change)="fileChangeEvent($event); onFileSelected(file.files);" />
    </button>
    </div>

</div>

<div id="image" class="out">
    <image-cropper *ngIf="imageChangedEvent " [imageChangedEvent]="imageChangedEvent " [maintainAspectRatio]="false " [aspectRatio]="4 / 3 " format="png " (imageCropped)="imageCropped($event) ">
    </image-cropper>

    <div class=" flex-1 ">
        <button class="bg-blue border-blue border-4 text-white py-1 px-2 rounded mr-4 hover:bg-teal-dark hover:border-teal-dark " (click)="compressFile()">Submit</button>
        <label> Height: <input style="border: 2px solid black; margin-right: 5px " type="text " size="4" [(ngModel)]="num ">
    </label>
    </div>

    <img id="img" [src]="croppedImage " />
</div>

<div id="pdf" class="out">
    <ngx-extended-pdf-viewer [src]="pdf" backgroundColor="#ffffff" [height]="'90vh'" [useBrowserLocale]="true"> </ngx-extended-pdf-viewer>
</div>